<div class="row bg-dark gap-2 mb-2  space-between">
  <div class="col m-0 p-0">
    <ul class="list-group list-group-flush text-center border-0  ">
      <li class="list-group-item  fs-3 fw-bold bg-primary p-0">Angular</li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','flowershop']">Flower-shop</a>
      </li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','mybookshelf']">Bookshelf</a>
      </li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','todoapp']">Todoapp-front</a>
      </li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','testapp']">Testapp</a>
      </li>

    </ul>
  </div>
  <div class="col  m-0 p-0">
    <ul class="list-group list-group-flush text-center border-0  ">
      <li class="list-group-item  fs-3 fw-bold bg-danger p-0">Laravel</li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','myweb']">Myweb</a>
      </li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','todoapp-back']">Todoapp-back</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md m-0 p-0">
    <ul class="list-group list-group-flush text-center border-0  ">
      <li class="list-group-item  fs-3 fw-bold bg-purple p-0">Bootstrap</li>
      <li class="list-group-item bg-dark p-1 ">
        <a class="footer-link" href="#" (click)="$event.preventDefault()" (click)="scrollToProject()"
          [routerLink]="['projects','testbootstrap']">Test-bootstrap</a>
      </li>
    </ul>
  </div>
  <div class="col-12 p-0">
    <p class="text-white-50 text-center col bg-dark p-4 m-0 h-100 w-100"> Created by krzysiek 2022</p>
  </div>
</div>
