<div class="project card text-white p-1 mb-2" >
  <div class="card-header bg-dark fs-4 p-4">
    <span class="text-capitalize">{{ name }}</span> - {{ category }}
  </div>
  <!-- <img class="card-img-top " [src]="images[0]" alt="Title" /> -->
  <div class="card-body">
    <h4 class="card-title text-dark text-capitalize">{{ name }}</h4>
    <p class="card-text text-dark">
      {{ description }}
    </p>
  </div>
  <div class="card-body">
    <h4 class="card-title text-dark text-capitalize">Technologies</h4>
    <p class="card-text text-dark">
      {{ technologies }}
    </p>
  </div>
  <div class="card-body">
    <h4 class="card-title text-dark text-capitalize">Gallery</h4>
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper image h-100">
          <img
            [src]="image"
            alt="Random slide"
            class="image-carousel col-12 h-100"
          />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div
    class="btn-group btn-group-lg mt-4"
    role="group"
    aria-label="Large button group"
  >
    <button
      type="button"
      class="btn btn-dark"
      [formaction]="demoLink"
      target="_blank"
      [disabled]="demoLink == 'disabled'"
    >
      {{ demoLink ==='disabled' ? '' : name + ' - ' }} demo version {{ demoLink === 'disabled' ? 'comming soon' : '' }}
    </button>
    <button
      type="button"
      class="btn btn-dark"
      [formaction]="githubLink"
      target="_blank"
      [disabled]="githubLink == 'disabled'"
    >
      Github repository
    </button>
  </div>
</div>
