<div class="container ">
  <header>
    <app-banner></app-banner>
    <app-navbar></app-navbar>
  </header>
  <main class="container-fluid py-4 bg-light">
    <div class="card border-dark">
      <div class="card-body ">
        Na tej stronie znajdują się projekty:
        <ul>
          <li>mające wersję demo</li>
          <li>powiązane z projektami frontend(np.dla todoapp-front todoapp-back)</li>
        </ul>
        <p class="card-text">
          Tutaj znajdziesz wszystkie moje projekty:
          <a href="https://github.com/krzysiekm266/" target="_blank">Projekty Github</a>
        </p>
      </div>

    </div>
    <hr />
    <div class="row justify-content-center gap-2 mt-4 mb-4">
      <!-- Flowershop project thumbnail -->
      <div class="project-card card text-white bg-light p-1 col-md-4 col-lg-3 mx-2"
        [routerLink]="['projects', 'flowershop']" (click)="scrollToProject()">
        <div class="card-header bg-dark text-capitalize p-2">Frontend</div>
        <img class="card-img-top" [src]="'assets/img/projects/flowershop/flowershop1.png'" alt="Title" />
        <div class="card-body">
          <h4 class="card-title text-dark text-capitalize">Flower shop</h4>
          <p class="card-text text-dark">
            Prosty sklep online sprzedający kwiatki:).
          </p>
        </div>
      </div>
      <!-- Mybookshelf project thumbnail-->
      <div class="project-card card text-white bg-light p-1 col-md-4 col-lg-3 mx-2"
        [routerLink]="['projects', 'mybookshelf']" (click)="scrollToProject()">
        <div class="card-header bg-dark text-capitalize p-2">Frontend</div>
        <img class="card-img-top" [src]="'assets/img/projects/mybookshelf/mybookshelf1.png'" alt="Title" />
        <div class="card-body">
          <h4 class="card-title text-dark text-capitalize">Bookshelf</h4>
          <p class="card-text text-dark">Półka na książki w wersji online.</p>
        </div>
      </div>
      <!-- Todoapp-front project thumbnail-->
      <div class="project-card card text-white bg-light p-1 col-md-4 col-lg-3 mx-2"
        [routerLink]="['projects', 'todoapp']" (click)="scrollToProject()">
        <div class="card-header bg-dark text-capitalize p-2">Frontend</div>
        <img class="card-img-top" [src]="'assets/img/projects/todoapp/todoapp1.png'" alt="Title" />
        <div class="card-body">
          <h4 class="card-title text-dark text-capitalize">Todoapp</h4>
          <p class="card-text text-dark">Lista zadań z kolorkami.</p>
        </div>
      </div>
      <!-- Myweb project thumbnail-->
      <div class="project-card card text-white bg-light p-1 col-md-4 col-lg-3 mx-2" [routerLink]="['projects', 'myweb']"
        (click)="scrollToProject()">
        <div class="card-header bg-dark text-capitalize p-2">
          Frontend/Backend
        </div>
        <img class="card-img-top" [src]="'assets/img/projects/myweb/myweb1.png'" alt="Title" />
        <div class="card-body">
          <h4 class="card-title text-dark text-capitalize">Myweb</h4>
          <p class="card-text text-dark">
            Prosta strona z panelem administratora.
          </p>
        </div>
      </div>
      <!-- Tes-bootstrap project thumbnail-->
      <div class="project-card card text-white bg-light p-1 col-md-4 col-lg-3 mx-2"
        [routerLink]="['projects', 'testbootstrap']" (click)="scrollToProject()">
        <div class="card-header bg-dark text-capitalize p-2">Frontend</div>
        <img class="card-img-top" [src]="'assets/img/projects/testbootstrap/testbootstrap1.png'" alt="Title" />
        <div class="card-body">
          <h4 class="card-title text-dark text-capitalize">Test-bootstrap</h4>
          <p class="card-text text-dark">Strona testowa bootstrap.</p>
        </div>
      </div>
      <!-- Testapp project thumbnail-->
      <div class="project-card card text-white bg-light p-1 col-md-4 col-lg-3 mx-2"
        [routerLink]="['projects', 'testapp']" (click)="scrollToProject()">
        <div class="card-header bg-dark text-capitalize p-2">Frontend</div>
        <img class="card-img-top" [src]="'assets/img/projects/testapp/testapp1.png'" alt="Title" />
        <div class="card-body">
          <h4 class="card-title text-dark text-capitalize">Testapp</h4>
          <p class="card-text text-dark">Prosta lista zdań do testów.</p>
        </div>
      </div>

    </div>
    <hr class="mb-4" />
    <div class="container bg-dark text-light">
      <h2 class="p-5 text-center fw-bold fs-1">Projects</h2>
    </div>
    <div id="project">
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer class="container-fluid">
    <app-footer></app-footer>
  </footer>


</div>
