<div class=" row  align-items-md-stretch h-100 ">
  <div>
    <ngb-carousel *ngIf="images" >
      <ng-template ngbSlide *ngFor="let image of images;index as i">
        <div class="picsum-img-wrapper image" [ngStyle]="{'background-image': image,'background-color': colors[i]}">
          <!-- <img [src]="image" alt="Random slide"  class=" image-carousel col-12 " > -->
        </div>
        <div class="carousel-caption text-light">
          <h3 class="fs-1 fw-semibold">{{ headers[i] }}</h3>
          <p class="fs-4 fw-semibold"></p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</div>
