<nav class="navbar navbar-expand-md navbar-dark bg-dark py-4">
  <div class="container-fluid">
    <span class="navbar-brand">Projects-room</span>
    <!-- Search -->

    <!-- Projects -->
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse " [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
            Projects
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu dropdown-menu-dark ">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" (click)="scrollToProject()" [routerLink]="['projects','flowershop']">Flower shop</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" (click)="scrollToProject()" [routerLink]="['projects','mybookshelf']">Bookshelf</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" (click)="scrollToProject()" [routerLink]="['projects','todoapp']">Todoapp-front</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" (click)="scrollToProject()" [routerLink]="['projects','myweb']">Myweb</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()" (click)="scrollToProject()" [routerLink]="['projects','testapp']">Testapp</a>
            <!-- <a ngbDropdownItem href="#" (click)="$event.preventDefault()" [routerLink]="['projects','projectsroom']">Projects-room</a> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
