
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  scroll-behavior: smooth;
}
body {

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('assets/img/bg/bg5.jpg');

}
